{% extends "template.html" %}
{% block title %}Cargar archivo{% endblock %}
{% block content %}
<form action={{url_for("loacsv")}} method="POST" enctype="multipart/form-data">
    <h3 class="mb-5">Cargar archivo</h3>

    <div>
        <label for="formFileLg" class="form-label">Favor de cargar solo archivos csv</label>
        <input type="file" class="form-control form-control-lg" id="file" accept=".csv">
    </div>

    <div class="msg">
        {{msg}}
    </div>
    <div class="d-grid gap-2">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Subir archivo</button>
    </div>
</form>
{% endblock %}